@model FitnessCenterManagement.Models.Appointment

@{
    ViewData["Title"] = "Randevu İptal Onayı";
}

<div class="container mt-4">
    <h1 class="text-danger">Randevuyu İptal Et</h1>

    <h3>Bu randevuyu iptal etmek istediğinizden emin misiniz?</h3>
    <hr />

    <dl class="row alert alert-light border border-danger">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.AppointmentDate)
        </dt>
        <dd class="col-sm-9">
            <strong class="text-danger">@Html.DisplayFor(model => model.AppointmentDate)</strong>
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Trainer)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Trainer.FullName)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Service)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Service.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Randevuyu İptal Et" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Geri Dön</a>
    </form>
</div>