@model FitnessCenterManagement.Models.Appointment

@{
    ViewData["Title"] = "Randevu Detayları";
}

<div class="container mt-4">
    <h1 class="mb-4">Randevu Detayları</h1>
    <hr />

    <div>
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.AppointmentDate)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.AppointmentDate)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Trainer)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Trainer.FullName)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Service)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Service.Name) (@Html.DisplayFor(model => model.Service.Price)₺)
            </dd>

            <dt class="col-sm-3">
                Randevu Ücreti
            </dt>
            <dd class="col-sm-9">
                @string.Format("{0:C}", Model.Service.Price)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.IsApproved)
            </dt>
            <dd class="col-sm-9">
                @if (Model.IsApproved)
                {
                    <span class="badge bg-success">Onaylandı</span>
                }
                else
                {
                    <span class="badge bg-warning text-dark">Onay Bekliyor</span>
                }
            </dd>
        </dl>
    </div>

    <div class="mt-3">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Düzenle</a> |
        <a asp-action="Index" class="btn btn-secondary">Listeye Geri Dön</a>
    </div>
</div>