@model FitnessCenterManagement.Models.Service

@{
    ViewData["Title"] = "Hizmet Detayları";
}

<div class="container mt-4">
    <h1 class="mb-3">Hizmet Detayları</h1>
    <hr />

    <div>
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Duration) (dk)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Duration) dakika
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-9">
                @string.Format("{0:C}", Model.Price)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Gym)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Gym.Name)
            </dd>
        </dl>
    </div>

    <div class="mt-3">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Düzenle</a> |
        <a asp-action="Index" class="btn btn-secondary">Listeye Geri Dön</a>
    </div>
</div>